name: Aite Studio Builder
on:
  workflow_dispatch:
  push:
    branches: [ main ]

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      
      - name: Init Project if Empty
        run: |
          if [ ! -f "pubspec.yaml" ]; then
            flutter create --platforms=android,web --project-name=my_app .
            git config --global user.name "AiteBot"
            git config --global user.email "bot@aite.studio"
            git add .
            git commit -m "Init Project"
            git push
          fi

      - run: flutter build web --release --base-href "/${{ github.event.repository.name }}/"
      
      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
          force_orphan: true

      - run: flutter build apk --release
      
      - uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: build/app/outputs/flutter-apk/app-release.apk
